.game {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.grid {
  gap: 6px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.column {
  gap: 6px;
  display: flex;
  flex-direction: row;
}

.row {
  width: 52px;
  height: 52px;
  border-radius: 4px;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  @media (prefers-color-scheme: light) {
    background-color: #f2f2f2;
  }
}

.rowActive {
  opacity: 1;
}

.input {
  opacity: 0;
  color: transparent;
  width: 100%;
  height: 24px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  border: none;
  outline: none;
}

.rowExact {
  background: green;
}

.rowFuzzy {
  background: orange;
}

.success, .error, .start {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 8px;
  font-size: 24px;
  border-radius: 12px;
  background-color: #000000;
  outline: none;
  border: 1px solid #2b2b2b;
  position: relative;
  z-index: 1;
  cursor: pointer;

  @media (prefers-color-scheme: light) {
    background-color: #FFFFFF;
  }
}
